{% extends 'base.html.twig' %}

{% block title %}Connexion
{% endblock %}

{% block body %}
	<h4 style="text-align: center; margin-top: 50px">Reinitialisation du mot de passe 🔂</h4>

	<section class="container my-3">
    <div class="row">
        <div class="col">
           
            {{ form_start(form) }}
			{{ form_row(form.email) }}
                {{ form_row(form.password) }}
				  
                <button type="submit" class="btn btn-primary">Envoyer</button>
            {{ form_end(form) }}
        </div>
    </div>
</section>
{% endblock %}
