{% extends 'base.html.twig' %}

{% block title %}Connexion
{% endblock %}

{% block body %}
	<h4 style="text-align: center; margin-top: 50px">Mot de passe oublié</h4>

	<div class="form-group col-md-6 mx-auto shadow " style="text-align: center; margin: 50px; height : 220px; border: solid 0.5px black; margin-bottom : 100px ">
		{{ form_start(form) }}

		<div class="form-group col-md-6 mx-auto" style="margin-top: 30px">
			{{ form_widget(form)}}
			<div class='form-error'>
				{{ form_errors(form) }}
			</div>
		</div>
		{{ form_end(form) }}
	</div>
{% endblock %}
