{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
<h4 style="text-align: center; margin-top: 50px">Reinitialisation du mot de passe 🔂</h4>

<div class="form-group col-md-6 mx-auto" style="height : 300px;">
{{ form_start(form) }}

  <div class="form-group col-md-6 mx-auto">
	{{ form_widget(form)}}
  <div class='form-error'>
		{{ form_errors(form) }}
	</div>
  </div>
   {{ form_end(form) }}

 {% endblock %} 