 {% extends 'base.html.twig' %}
 {% block title %}Inscription !{% endblock %}

 {% block body %} 

 <h4> Créer votre espace Snowboard </h4>

  {{ form_start(form) }}
  {{ form_widget(form) }}
   {{ form_end(form) }}

 {% endblock %}