{% extends 'base.html.twig' %}

{% block title %}Image trick{% endblock %}

{% block body %}
<duv class="image">
{% for image in images %}
<ul>
<img src={{ image.imageFile }} />
</ul>
 {% endfor %}
</div>
{% endblock %}
