{% extends 'base.html.twig' %}

{% block title %}Groupe trick{% endblock %}

{% block body %}
<duv class="category">
{% for groupeTrick in category %}
<ul>
<li>{{ groupeTrick.title }}</li>
</ul>
 {% endfor %}
</div>
{% endblock %}
