<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>SnowTricks

		</title>
		<link rel="icon" type="image/x-icon" href="assets/favicon.ico"/>
		<link
		href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet"/>
		<!-- Core theme CSS (includes Bootstrap)-->
		<link
		rel="stylesheet" href="../css/styles.css">


		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}


	</head>
	<body>
		<!-- Navigation-->
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<div class="container px-5">
				<a class="navbar-brand" href="{{ path('app_tricks')}}">Start Bootstrap</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
						<li class="nav-item">
							<a class="nav-link" href="">Connexion</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="">Inscription</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{ path('app_tricks_new')}}">Créer une figure</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
		<!-- Header-->
		<header class="bg-dark py-5">
			<div class="container px-5">
				<div class="row gx-5 align-items-center justify-content-center">
					<div class="col-lg-8 col-xl-7 col-xxl-6">
						<div class="my-5 text-center text-xl-start">
							<h1 class="display-5 fw-bolder text-white mb-2">
								{% block title %}
									Bienvenus sur SnowTricks
								{% endblock %}
							</h1>
						</div>
					</div>
					<div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center"><img class="img-fluid rounded-3 my-5" src="https://png.pngtree.com/thumb_back/fw800/background/20230613/pngtree-skier-is-snowboarding-down-a-huge-hill-image_2955202.jpg" alt="..."/></div>
				</div>
			</div>
		</header>
		<div class="container"> {% block body %}{% endblock %}
			</div>
			 <!-- Footer-->
        <footer class="bg-dark py-4 mt-auto">
            <div class="container px-5">
                <div class="row align-items-center justify-content-between flex-column flex-sm-row">
                    <div class="col-auto"><div class="small m-0 text-white">Copyright &copy; Your Website 2023</div></div>
                </div>
            </div>
        </footer>
			{% block javascripts %}
				{{ encore_entry_script_tags('app') }}
			{% endblock %}
			<!-- Bootstrap core JS-->
			<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
			<!-- Core theme JS-->
			<script src="../../js/scripts.js"></script>
		</body>
	</html>
