{% extends 'base.html.twig' %}

{% block title %}SnowTricks - Modification du mot de passe{% endblock %}

{% block body %}
    <div class="col-lg-7 col-md-10 mx-auto">
     
   <hr>

        <h1>Modification du mot de passe</h1>

        {{ form_start(form) }}
        {{ form_widget(form) }}

        {{ form_end(form) }}
    </div>
{% endblock %}