
 <p>Bonjour, vous vous êtes inscrit sur SnowTricks avec succès !<br>
    Pour valider votre compte, veuillez valider votre email en cliquant sur le lien ci-dessous :<br>
<p><a href="{{url('activation', {'token': token}) }}">Activer mon compte</a></p>